<h1>Need Some Change?</h1>
<form action="/coin">
  <div class="form-group">
    <label for="coin">How much change do you need?</label>
    <input id="coin" name="coin" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
